<h1 class="mb-4">Список проєктів</h1>

<table class="table table-striped table-hover align-middle">
  <thead class="table-dark">
    <tr>
      <th>Назва</th>
      <th>Категорія</th>
      <th>Статус</th>
      <th>Дедлайн</th>
      <th>Дії</th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td class="fw-bold"><%= project.title %></td>
        <td><%= project.category %></td>
        <td><%= project.status %></td>
        <td><%= deadline_badge(project) %></td> <td>
          <%= link_to "Деталі", project, class: "btn btn-sm btn-info text-white" %>
          <%= link_to "Редагувати", edit_project_path(project), class: "btn btn-sm btn-outline-primary" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
