<%= form_with(model: project, class: "card p-4 shadow-sm mb-4") do |form| %>
  <% if project.errors.any? %>
    <div class="alert alert-danger">
      <h4>Помилки:</h4>
      <ul class="mb-0">
        <% project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :title, "Назва", class: "form-label" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :description, "Опис проєкту", class: "form-label" %>
    <%= form.text_area :description, rows: 4, class: "form-control" %>
  </div>

  <div class="row">
    <div class="col-md-6 mb-3">
      <%= form.label :category, "Категорія", class: "form-label" %>
      <%= form.select :category, Category.pluck(:name), { prompt: "Оберіть категорію" }, class: "form-select" %>
    </div>
    <div class="col-md-6 mb-3">
      <%= form.label :status, "Статус", class: "form-label" %>
      <%= form.select :status, Project.statuses.keys, {}, class: "form-select" %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 mb-3">
      <%= form.label :main_tag, "Головний тег", class: "form-label" %>
      <%= form.text_field :main_tag, class: "form-control" %>
    </div>
    <div class="col-md-4 mb-3">
      <%= form.label :client, "Клієнт", class: "form-label" %>
      <%= form.text_field :client, class: "form-control" %>
    </div>
    <div class="col-md-4 mb-3">
      <%= form.label :team, "Команда", class: "form-label" %>
      <%= form.text_field :team, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 mb-3">
      <%= form.label :start_date, "Дата початку", class: "form-label" %>
      <%= form.date_field :start_date, class: "form-control" %>
    </div>
    <div class="col-md-4 mb-3">
      <%= form.label :deadline, "Дедлайн", class: "form-label" %>
      <%= form.date_field :deadline, class: "form-control" %>
    </div>
    <div class="col-md-4 mb-3">
      <%= form.label :budget, "Бюджет", class: "form-label" %>
      <%= form.number_field :budget, step: 0.01, class: "form-control" %>
    </div>
  </div>

  <div>
    <%= form.submit "Зберегти проєкт", class: "btn btn-primary" %>
  </div>
<% end %>
